@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: #ffffffd3;
}

header img{
   height: 80px;
}

header menu{
    padding: 10px;
    background-color: #adadadc9;

    position: relative;
}

header ul{
    list-style-type: none;
}

header ul li{
    padding-left: 42px;
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    font-weight: 600;
    padding: 8px;
}

header a:hover{
    background-color: #ffffffc4;
    border-radius: 4px;
    transition-duration: 0.5s;
}

header p{
    margin-left: 120px;
    padding: 2px;
    display: inline-block;
    font: bold 2em Arial;
    border-left: 3px solid black;
}

header div{
    position: relative;
    margin-left: 75%;
    
}

input{
    height: 25px;
    border: 1px solid #3b3b3b70;
    padding: 3px;
    border-radius: 2px;
}

#entrar{
    color: white;
    background-color: #146ed4;
    font-weight: 600;
}

main{
    min-width: 400px;
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding: 13px;
}

main article{
    display: inline-block;
}

main h1{
    color: rgb(5, 148, 53);
    padding: 7px;
    border-left: 3px solid black;
}
main p{
    text-align: justify;
    text-indent: 18px;
    line-height: 25px;
}

figure{
    padding: 13px;
    text-align: center;
    font-weight: 600;
    background-color: #f5f5f5d3;
}

main img{
    border-radius: 8px;
}

main a{
    color: #0066ff;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    border-left: 2px solid #0066ff;
}


footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 2px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

